<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <system.serviceModel>
    <client>
      <endpoint address="net.tcp://localhost:45678/echo/V1"
                binding="netTcpBinding"
                bindingConfiguration=""
                contract="WcfVersioning.Client3.Contracts.IEchoService"
                name=""
                kind=""
                endpointConfiguration="">
      </endpoint>
    </client>
    <diagnostics>
      <messageLogging
           logEntireMessage="true"
           logMalformedMessages="true"
           logMessagesAtServiceLevel="true"
           logMessagesAtTransportLevel="false"
           maxMessagesToLog="3000"
           maxSizeOfMessageToLog="2000"/>
    </diagnostics>
  </system.serviceModel>
  <system.diagnostics>
    <sources>
      <source name="System.ServiceModel.MessageLogging">
        <listeners>
          <add name="messages"
               type="System.Diagnostics.XmlWriterTraceListener"
               initializeData="c:\temp\logs\client3.svclog" />
        </listeners>
      </source>
    </sources>
  </system.diagnostics>
</configuration>