<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
      <bindings>
        <customBinding>
          <binding name="NetHttpBinding">
            <reliableSession />
            <compositeDuplex />
            <oneWay />
            <binaryMessageEncoding />
            <httpTransport />
          </binding>
        </customBinding>
      </bindings>
        <client>
            <endpoint address="http://localhost:45678/echo/V1" 
                      binding="customBinding"
                      bindingConfiguration="NetHttpBinding" 
                      contract="WcfVersioning.Client2.Contracts.IEchoService"
                      name="" 
                      kind="" 
                      endpointConfiguration="">
            </endpoint>
        </client>
      <diagnostics>
        <messageLogging
             logEntireMessage="true"
             logMalformedMessages="false"
             logMessagesAtServiceLevel="true"
             logMessagesAtTransportLevel="true"
             maxMessagesToLog="3000"
             maxSizeOfMessageToLog="2000"/>
      </diagnostics>
    </system.serviceModel>
  <system.diagnostics>
    <sources>
      <source name="System.ServiceModel.MessageLogging">
        <listeners>
          <add name="messages"
          type="System.Diagnostics.XmlWriterTraceListener"
          initializeData="c:\temp\logs\client2.svclog" />
        </listeners>
      </source>
    </sources>
  </system.diagnostics>
</configuration>